# Datos Multidimensionales:

In [1]:
# Ejemplo con tres dimensiones:

ans = sample(c("Si","No"), size = 100, replace = TRUE) 
sex = sample(c("H", "M"), size = 100, replace = TRUE)
place = sample(c("San Francisco", "Barcelona", "Valencia", "Cobija", "Asturias"), size = 100, replace = TRUE)

table(sex, ans, place) # divide en tablas bidimensionales seg√∫n el valor de la tercera variable

, , place = Asturias

   ans
sex No Si
  H  4  6
  M  5  7

, , place = Barcelona

   ans
sex No Si
  H  4  7
  M  5  2

, , place = Cobija

   ans
sex No Si
  H  7  3
  M  4  2

, , place = San Francisco

   ans
sex No Si
  H  7  3
  M  7  7

, , place = Valencia

   ans
sex No Si
  H  6  4
  M  4  6

In [2]:
ftable(sex, ans, place) # tabla multidimensional

        place Asturias Barcelona Cobija San Francisco Valencia
sex ans
H   No               4         4      7             7        6
    Si               6         7      3             3        4
M   No               5         5      4             7        4
    Si               7         2      2             7        6

In [3]:
 
ftable(sex, ans, place, col.vars = c("sex", "ans")) # tabla multidimensional con colores

              sex  H     M
              ans No Si No Si
place
Asturias           4  6  5  7
Barcelona          4  7  5  2
Cobija             7  3  4  2
San Francisco      7  3  7  7
Valencia           6  4  4  6

## Filtrar las tablas

In [4]:

table(sex, ans, place)["M", "Si", "San Francisco"] # todas las mujeres que dijeron si en San Francisco

[1] 7

In [5]:

table(sex, ans, place)[, "Si", "Valencia"] # todas las personas que dijeron si en Valencia

H M
4 6

In [6]:

table(sex, ans, place)[, "No", ] # todas las personas que dijeron no

   place
sex Asturias Barcelona Cobija San Francisco Valencia
  H        4         4      7             7        6
  M        5         5      4             7        4

In [7]:
table(sex , ans, place)["M", , "Cobija"] # todas las mujeres de Cobija

No Si
 4  2

## Frecuencias relativas:

In [8]:
prop.table(table(sex, ans, place)) # Frecuencias relativas globales

, , place = Asturias

   ans
sex   No   Si
  H 0.04 0.06
  M 0.05 0.07

, , place = Barcelona

   ans
sex   No   Si
  H 0.04 0.07
  M 0.05 0.02

, , place = Cobija

   ans
sex   No   Si
  H 0.07 0.03
  M 0.04 0.02

, , place = San Francisco

   ans
sex   No   Si
  H 0.07 0.03
  M 0.07 0.07

, , place = Valencia

   ans
sex   No   Si
  H 0.06 0.04
  M 0.04 0.06

In [9]:
prop.table(table(sex, ans, place), margin = 3) # Frecuencias relativas por Marginal por Lugar

, , place = Asturias

   ans
sex        No        Si
  H 0.1818182 0.2727273
  M 0.2272727 0.3181818

, , place = Barcelona

   ans
sex        No        Si
  H 0.2222222 0.3888889
  M 0.2777778 0.1111111

, , place = Cobija

   ans
sex        No        Si
  H 0.4375000 0.1875000
  M 0.2500000 0.1250000

, , place = San Francisco

   ans
sex        No        Si
  H 0.2916667 0.1250000
  M 0.2916667 0.2916667

, , place = Valencia

   ans
sex        No        Si
  H 0.3000000 0.2000000
  M 0.2000000 0.3000000

In [11]:
prop.table(table(sex, ans, place), margin = c(1,3)) # Frecuencias relativas por Marginal por Sexo y Lugar

, , place = Asturias

   ans
sex        No        Si
  H 0.4000000 0.6000000
  M 0.4166667 0.5833333

, , place = Barcelona

   ans
sex        No        Si
  H 0.3636364 0.6363636
  M 0.7142857 0.2857143

, , place = Cobija

   ans
sex        No        Si
  H 0.7000000 0.3000000
  M 0.6666667 0.3333333

, , place = San Francisco

   ans
sex        No        Si
  H 0.7000000 0.3000000
  M 0.5000000 0.5000000

, , place = Valencia

   ans
sex        No        Si
  H 0.6000000 0.4000000
  M 0.4000000 0.6000000

In [12]:
ftable(prop.table(table(sex, ans, place))) # tabla multidimensional de frecuencias relativas

        place Asturias Barcelona Cobija San Francisco Valencia
sex ans
H   No            0.04      0.04   0.07          0.07     0.06
    Si            0.06      0.07   0.03          0.03     0.04
M   No            0.05      0.05   0.04          0.07     0.04
    Si            0.07      0.02   0.02          0.07     0.06